<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <connectionStrings>
    <add name="EnterpriseEntities" connectionString="metadata=res://*/Enterprise.csdl|res://*/Enterprise.ssdl|res://*/Enterprise.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VSERVER\SQLEXPRESS;initial catalog=Enterprise.Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>

  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="ExampleBinding" messageEncoding="Mtom"
                maxReceivedMessageSize="2147483647"
               >
          <readerQuotas  maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport  clientCredentialType="None"></transport>
          </security>
        </binding>
       
      </wsHttpBinding>
      
      <basicHttpBinding>
        <binding name="BasicBinding" transferMode="Streamed">
          <security mode="None">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" />
          </security>
        </binding>
        <binding name="FileBinding"  transferMode="Streamed" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding">
          <security mode="None">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" />
          </security>
        </binding>
        <binding name="StreamBinding" maxBufferSize="2147483647"
                maxBufferPoolSize="2147483647"
                maxReceivedMessageSize="2147483647"
                transferMode="Streamed"
                sendTimeout="00:05:00">
          <readerQuotas  maxDepth="2147483647"
                         maxStringContentLength="2147483647"
                         maxArrayLength="2147483647"
                         maxBytesPerRead="2147483647"
                         maxNameTableCharCount="2147483647"/>
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>

    <services>
      <!--MenuService-->
      <service behaviorConfiguration="DefaultBehavior" name="Enterprise.Services.MenuService">
        <endpoint behaviorConfiguration="RestFulBehavior" 
                  binding="webHttpBinding" 
                  bindingConfiguration="WebHttpBinding" 
                  name="MenuServiceRestEndpoint" 
                  bindingName="MenuServiceRestBinding" 
                  contract="Enterprise.Services.IMenuService" />
        <endpoint address="basic" 
                  binding="basicHttpBinding" 
                  bindingConfiguration="BasicBinding" 
                  name="MenuServiceBasicEndpoint" 
                  bindingName="MenuServiceBasicBinding" 
                  contract="Enterprise.Services.IMenuService" />
        <endpoint address="mex" behaviorConfiguration="" binding="mexHttpBinding" contract="IMetadataExchange" />       
      </service>
      
      <!--RestaurantService-->
      <service behaviorConfiguration="DefaultBehavior" name="Enterprise.Services.RestaurantService">
        <endpoint behaviorConfiguration="RestFulBehavior" 
                  binding="webHttpBinding" 
                  bindingConfiguration="WebHttpBinding"
                  name="RestaurantServiceRestEndpoint"
                  bindingName="RestaurantServiceRestBinding"
                  contract="Enterprise.Services.IRestaurantService" />
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicBinding"
                  name="RestaurantServiceBasicEndpoint"
                  bindingName="RestaurantServiceBasicBinding" 
                  contract="Enterprise.Services.IRestaurantService" />
        <endpoint address="mex" behaviorConfiguration="" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
      <!--CartService-->
      <service behaviorConfiguration="DefaultBehavior" name="Enterprise.Services.CartService">
        <endpoint behaviorConfiguration="RestFulBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="WebHttpBinding"
                  name="CartServiceRestEndpoint"
                  bindingName="CartServiceRestBinding"
                  contract="Enterprise.Services.ICartService" />
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicBinding"
                  name="CartServiceBasicEndpoint"
                  bindingName="CartServiceBasicBinding"
                  contract="Enterprise.Services.ICartService" />
        <endpoint address="mex" behaviorConfiguration="" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
      <!--File service-->
      <service behaviorConfiguration="DefaultBehavior" name="Enterprise.Services.FileService">
        <endpoint behaviorConfiguration="RestFulBehavior"
                  binding="webHttpBinding"
                  bindingConfiguration="WebHttpBinding"
                  name="FileServiceRestEndpoint"
                  bindingName="FileServiceRestBinding"
                  contract="Enterprise.Services.IFileService" />
        <endpoint address="basic"
                  binding="basicHttpBinding"
                  bindingConfiguration="FileBinding"
                  name="FileServiceBasicEndpoint"
                  bindingName="FileServiceBasicBinding"
                  contract="Enterprise.Services.IFileService" />
        <endpoint address="mex" behaviorConfiguration="" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="RestFulBehavior">
          <webHttp automaticFormatSelectionEnabled="false" helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="EnterpriseServiceLog.xml" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
